@media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
}

@media (prefers-color-scheme: light) {
    body { background: #ddd; color: black; }
}

/* readex-pro-regular - latin */
@font-face {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/readex-pro-v5-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

body {
    font-family: Readex Pro, Calibri, sans-serif;
}

